.admin-sidebar {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    width: 250px;
  }
  
  .admin-nav {
    list-style-type: none;
    padding: 0;
  }
  
  .admin-nav li {
    margin: 10px 0;
  }
  
  .admin-nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .admin-nav li a:hover,
  .admin-nav li a.active {
    background-color: #3e5b79;
    color: white;
    cursor: pointer;
  }
  
  .burger-menu {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
  }
  
  .profile-btn {
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .profile-btn:hover {
    background-color: #3e5b79;
  }
  
  .profile-popup {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    top: 150px;
    left: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .profile-popup h3 {
    margin-top: 0;
  }
  
  .profile-popup button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-popup button:hover {
    background-color: #575757;
  }
  